<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina web de blog de cafe">
    <title>@ViewBag.Title Sammda Coffe</title>

    <!--prefetch carga la siguiente pagina-->

    <link rel="prefetch" href="nosotros.html" as="document">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!--preload-->
    <link rel="preload" href="~/css/style.css" as="style">
    <link rel="stylesheet" href="~/css/normalize.css">

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@700&display=swap" as="font" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="preload" href="~/css/style.css" as="style">

    <link rel="stylesheet" href="~/css/login.css">
    <link rel="preload" href="~/css/login.css" as="style">

    <link rel="preload" href="~/img/blog1.jpg">

</head>
<body>
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin center-texto">Sammda<samp class="logo__bold"> Coffee</samp></h1>
                </a>
                <nav class="navegacion">
                    <a href="nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="cursos.html" class="navegacion__enlace">Curso</a>
                    <a href="contacto.html" class="navegacion__enlace">Contacto</a>
                </nav>
            </div>
        </div>

        <div class="header__texto">
            <h2 class="no-margin">Blog de cafe con consejos y cursos</h2>
            <p class="no-margin">Aprende de los expertos con las mejore recetas y consejos</p>

        </div>
    </header>
        <div class="container body-content">
            @RenderBody()
            <footer class="footer">
                <div class="contenedor">
                    <div class="barra">
                        <a class="logo" href="index.html">
                            <h1 class="logo__nombre no-margin center-texto">Blog<samp class="logo__bold">DeCafe</samp></h1>
                        </a>
                        <nav class="navegacion">
                            @Html.ActionLink("Administrar","Menu", "Home", null, new {@class="Logo"})
                        </nav>
                    </div>
                </div>
            </footer>

            <script src="js/modernizr.js"></script>
        </div>
</body>
</html>
