
@{
    ViewBag.Title = "login";
}

<link rel="stylesheet" href="~/css/login.css">

@using (Html.BeginForm("login", "Login", FormMethod.Post))
{

   
    <div class="container_lg">
        <div class="form-body">
            <form  class="form-login" action="~/Views/Home/Menu.cshtml" method="post">
                <p class="text">Login</p>
                <input type="text" name="user" value="" placeholder="Email" />
                <input type="password" name="paswo" value="" placeholder="Contraseña" />
                <button type="submit" class="btn">Entrar</button>
            </form>
        </div>
    </div>
    




}
