
@{
    ViewBag.Title = "Index";
}

    <div class="contenedor contenido-principal">
        <main class="blog">
            <h3>Nuestro Blog</h3>

            <article class="entreda">
                <div class="entrada__imagen">
                    <picture>
                        <img loading="lazy" src="~/img/blog1.jpg" alt="imagen--blog">
                    </picture>
                   
                </div>  

                   <div class="entrada__contenido">
                        <h4 class="no-margin"> Tipos de Grano de Cafe</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque reprehenderit adipisci dolores omnis neque quibusdam ducimus dicta soluta voluptatum saepe, alias temporibus minus fugit placeat nostrum eum fuga? Quis, ipsum.</p>
                        <a href="entrada.html" class="boton boton--primario">Leer Entrada</a>
                   </div>
               
            </article>

            <article class="entreda">
                <div class="entrada__imagen">
                    <picture>
                        <img loading="lazy" src="~/img/blog2.jpg" alt="imagen--blog">
                    </picture>
                    
                </div>  

                   <div class="entrada__contenido">
                        <h4 class="no-margin">3 Deliciosas Recetas de cafe</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque reprehenderit adipisci dolores omnis neque quibusdam ducimus dicta soluta voluptatum saepe, alias temporibus minus fugit placeat nostrum eum fuga? Quis, ipsum.</p>
                        <a href="entrada.html" class="boton boton--primario">Leer Entrada</a>
                   </div>
               
            </article>

            <article class="entreda">
                <div class="entrada__imagen">
                    <picture>
                        <img loading="lazy" src="~/img/blog3.jpg" alt="imagen--blog">
                    </picture>
                </div>  

                   <div class="entrada__contenido">
                        <h4 class="no-margin"> Beneficios del Cafe</h4>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque reprehenderit adipisci dolores omnis neque quibusdam ducimus dicta soluta voluptatum saepe, alias temporibus minus fugit placeat nostrum eum fuga? Quis, ipsum.</p>
                        <a href="entrada.html" class="boton  boton--primario">Leer Entrada</a>
                   </div>
               
            </article>


        </main> 
        <aside class="sidebar">
            <h3>Nuestros Cursos y Talleres</h3>

            <ul class="cursos no-padding" ><!--este ul es una lista no ordenada  tambien hay ol y esa le pone numeros a la lista-->
                <li class="widget-curso">
                    <h4 class="no-margin">Tecnicas de extraccion de cafe</h4>
                    <p class="widget-curso__label">precio:
                        <samp class="widget-curso__info">Gratis</samp>
                    </p>

                    <p class="widget-curso__label">Cupo:
                        <samp class="widget-curso__info">20</samp>
                    </p>
                    <a href="entrada.html" class="boton  boton--secundario">Mas informacion</a>


                </li>

                <li class="widget-curso">
                    <h4 class="no-margin">4 Recetas de cafe para Principiantes</h4>
                    <p class="widget-curso__label">precio:
                        <samp class="widget-curso__info">Gratis</samp>
                    </p>

                    <p class="widget-curso__label">Cupo:
                        <samp class="widget-curso__info">20</samp>
                    </p>
                    <a href="entrada.html" class="boton  boton--secundario">Mas informacion</a>

                </li>
            </ul>
        </aside>
    </div>
