@model IEnumerable<SammdaCoffe.Models.ProductDetail>

@{
    ViewBag.Title = "ListDProducts";
}
<link href="~/css/litscss.css" rel="stylesheet" />
<h2>Productos</h2>


@foreach (var item in Model)
{
    <article class="product-item">
        <h3 class="product-name">@Html.DisplayFor(modelItem => item.Product.productName)</h3>
        <p class="product-info">Size: <span>@Html.DisplayFor(modelItem => item.size)</span></p>
        <p class="product-info">Price: <span>@Html.DisplayFor(modelItem => item.productPrice)</span></p>
        <p class="product-description">@Html.DisplayFor(modelItem => item.descriptionProduct)</p>
        <a href="../Recipes/ListRecipes/@item.Product.productID" class="btn">Receta</a>
    </article>

}
