@model SammdaCoffe.Models.Rol

@{
    ViewBag.Title = "Details";
}
<link href="~/css/tables/Details.css" rel="stylesheet" />


<div class="container1">
    <h2>Details</h2>
    <h4>Rol</h4>
    <hr />
    <dl class="container1">
        <dt>
            @Html.DisplayNameFor(model => model.rolName):  @Html.DisplayFor(model => model.rolName)
        </dt>



    </dl>
    <span></span>
    <a href="@Url.Action("Edit", new { id = Model.rolID })" class="d">Edit</a>
    <span>|</span>
    <a href="@Url.Action("Index")" class="back-link">Back to List</a>
</div>

